<h1>スタッフ新規登録</h1>

<% if @user.errors.any? %>
  <div class="error-messages">
    <div style="color: red;">
    <h2>以下の入力に誤りがあります：</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |form| %>
  <div>
    <%= form.label :name, "名前" %><br>
    <%= form.text_field :name %>
  </div>

  <div>
  <%= form.label :workdays, "勤務曜日" %><br>
  <% ["月", "火", "水", "木", "金", "土"].each do |day| %>
    <%= check_box_tag "user[workdays][]", day, @user.workdays&.include?(day) %>
    <%= label_tag "user_workdays_#{day}", day %><br>
  <% end %>
  </div>

  <div>
  <%= form.label :worktime, "勤務時間" %><br>

  <span>開始:</span>
  <%= select_tag "start_hour", options_for_select((8..17).map { |h| [sprintf("%02d", h), h] }), prompt: "時" %> :
  <%= select_tag "start_minute", options_for_select([0,15,30,45].map { |m| [sprintf("%02d", m), m] }), prompt: "分" %>

  <span style="margin-left: 10px;">終了:</span>
  <%= select_tag "end_hour", options_for_select((8..17).map { |h| [sprintf("%02d", h), h] }), prompt: "時" %> :
  <%= select_tag "end_minute", options_for_select([0,15,30,45].map { |m| [sprintf("%02d", m), m] }), prompt: "分" %>

  <% if @user.errors[:worktime].any? %>
    <div style="color: red;">
      <%= @user.errors[:worktime].first %>
    </div>
  <% end %>
</div>

  <div>
  <%= form.label :eligibility, "資格" %><br>
  <%= form.select :eligibility, ["看護師", "准看護師", "理学療法士", "作業療法士", "言語聴覚士"], { prompt: "選択してください" } %>
  </div>

  <div>
    <%= form.submit "登録する" %>
  </div>
<% end %>