<div class="staff-detail-container">
  <h2 class="staff-name"><%= @user.name %>さんの詳細</h2>

  <div class="staff-info">
    <p><strong>資格:</strong> <%= @user.eligibility %></p>
    <p><strong>勤務曜日:</strong> <%= @user.workdays %></p>
    <p><strong>勤務時間:</strong> <%= @user.worktime %></p>
  </div>

  <div class="staff-actions">
    <%= link_to '編集', edit_user_path(@user), class: 'edit-link' %> |
    <%= link_to '削除', @user, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'delete-link' %>
  </div>
</div>