<div style="background: white; padding: 20px; border-radius: 10px;">
  <%= form_with(model: schedule, remote: true) do |form| %>
    
    <div class = "users_schedule">
    <div>
      <%= form.label :user_id, "担当者" %>
      <%= form.collection_select :user_id, User.all, :id, :name, {}, { class: "form-control" } %>
    </div>

    <div>
    <%= form.label :sub_user_id, "サブ担当" %>
    <%= form.collection_select :sub_user_id, User.all, :id, :name, { include_blank: "----" }, { class: "input-select" } %>
    </div>
    </div>

    <div>
      <%= form.label :weekday, "曜日" %>
      <%= form.select :weekday, %w(月 火 水 木 金 土), {}, { class: "form-control" } %>
   </div>

  <div class="time-select-row">
   <div>
    <%= form.label :start_time, "開始時刻" %><br>
    <%= form.time_select :start_time, { minute_step: 5 }, { class: "form-control" } %>
   </div>

  <div style="margin-left: 20px;">
    <%= form.label :end_time, "終了時刻" %><br>
    <%= form.time_select :end_time, { minute_step: 5 }, { class: "form-control" } %>
  </div>
  </div>

    <div>
     <%= form.label :memo, "メモ" %>
     <%= form.text_area :memo, rows: 3, class: "form-control" %>
    </div>

    <div>
      <%= form.submit "更新する" %>
    </div>
  <% end %>
</div>