<!-- app/views/schedules/index.html.erb -->
<h1><%= @selected_weekday %>のスケジュール一覧</h1>
<% time_slots = ["08:30", "09:00", "09:30", "10:00", "10:30", "11:00", "11:30", "12:00",
                 "12:30", "13:00", "13:30", "14:00", "14:30", "15:00", "15:30", "16:00", "16:30", "17:00"] %>
  
<div class = "weekday_index">
  <% %w(月 火 水 木 金 土 ).each do |day| %>
    <%= link_to "#{day}曜日", schedules_path(weekday: day), style: "margin-right: 10px;" %>
  <% end %>
</div>

<div class="action-buttons">
<div class="schedule-new">
<%= link_to "スケジュール新規登録", new_schedule_path, class: "button" %><br></div>
<div class ="user-new">
<%= link_to "スタッフ新規登録", new_user_path, class: "button" %><br></div>
</div>

<div class="calendar-header" style="grid-template-columns: 80px repeat(<%= @users.size %>, 120px); width: calc(80px + <%= @users.size * 120 %>px);">
  <div class="time-header"></div>
  <% @users.each do |user| %>
    <div class="staff-header">
      <%= link_to user.name, user_path(user) %><br>
      <small><%= user.worktime %></small>
    </div>
  <% end %>
</div>

<div class="calendar-wrapper" style="position: relative; width: calc(80px + <%= @users.size * 120 %>px);">
 <div class="calendar-grid" style="grid-template-columns: 80px repeat(<%= @users.size %>, 120px); width: calc(80px + <%= @users.size * 120 %>px);">
    <% time_slots.each do |time| %>
      <div class="grid-time"><%= time %></div>
      <% @users.each do |_user| %>
        <div class="grid-cell"></div>
      <% end %>
    <% end %>
  </div>

  <div class="calendar-schedules" style="position: absolute; top: 0; left: 80px; width: <%= @users.size * 120 %>px;">
    <% @schedules.each do |schedule| %>
      <% [schedule.user_id, schedule.sub_user_id].compact.each do |uid| %> 
        <% user_index = @users.index { |u| u.id == uid } %>
        <% next unless user_index %>
          <% start_minutes = schedule.start_time.hour * 60 + schedule.start_time.min %>
          <% end_minutes = schedule.end_time.hour * 60 + schedule.end_time.min %>
          <% top_offset = (start_minutes - 510) * 2 %>
          <% height = (end_minutes - start_minutes) * 2 %>
          <% left_offset = user_index * 120 %>

        <div class="schedule-card <%= schedule.client.insurance.include?('医療') ? 'medical' : 'care' %>"
          style="top: <%= top_offset %>px; left: <%= left_offset %>px; height: <%= height %>px;">
          <a href="#" class="show-detail-button" data-id="<%= schedule.id %>"
             style="color: blue; text-decoration: underline; display: block;">
            <%= schedule.client.name %>
          </a>
          <br>
          <%= schedule.start_time.strftime("%H:%M") %>〜<%= schedule.end_time.strftime("%H:%M") %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<!-- 詳細モーダルの表示先 -->
<div id="schedule-detail-modal" style="display: none;"></div>
