<!-- app/views/schedules/index.html.erb -->
<h1><%= @selected_weekday %>のスケジュール一覧</h1>
<% time_slots = ["08:30", "09:00", "09:30", "10:00", "10:30", "11:00", "11:30", "12:00",
                 "12:30", "13:00", "13:30", "14:00", "14:30", "15:00", "15:30", "16:00", "16:30", "17:00"] %>

<div class = "weekday_index">
  <% %w(月 火 水 木 金 土 ).each do |day| %>
    <%= link_to "#{day}曜日", schedules_path(weekday: day), style: "margin-right: 10px;" %>
  <% end %>
</div>

<div class="action-buttons">
<div class="schedule-new">
<%= link_to "スケジュール新規登録", new_schedule_path, class: "button" %><br></div>
<div class ="user-new">
<%= link_to "スタッフ新規登録", new_user_path, class: "button" %><br></div>
</div>

<table class="schedule-table" border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>時間帯</th>
      <% @users.each do |user| %>
        <th><%= link_to user.name, user_path(user) %></th>
      <% end %>
    </tr>
  </thead>

<tbody>
<% rendered_cells = {} %>

<% time_slots.each_with_index do |time, index| %>
  <tr>
    <td><%= time %></td>
    <% @users.each do |user| %>
      <% key = "#{user.id}-#{time}" %>
      <% if rendered_cells[key] %>
        <% next %>
      <% end %>

      <% schedule = @schedules.find do |s|
        s.start_time &&
        (s.user_id == user.id || s.sub_user_id == user.id) &&
        s.start_time.strftime("%H:%M") == time
      end %>

      <% if schedule %>
        <% start_index = time_slots.index(schedule.start_time.strftime("%H:%M")) %>
        <% end_index = time_slots.index(schedule.end_time.strftime("%H:%M")) || start_index + 1 %>
        <% span = end_index - start_index %>

        <% # 同じ時間帯に他の担当者にも表示しないよう記録 %>
        <% (start_index...end_index).each do |i| %>
          <% rendered_cells["#{user.id}-#{time_slots[i]}"] = true %>
        <% end %>

       <%= tag.td(class: "schedule-cell #{schedule.client.insurance.include?('医療') ? 'medical-schedule' : 'care-schedule'}", rowspan: span) do %>
          <button
            class="show-detail-button"
            data-id="<%= schedule.id %>"
            style="background:none; border:none; color:blue; text-decoration:underline; cursor:pointer;">
            <%= schedule.client.name %>
          </button><br>
          <%= schedule.start_time.strftime("%H:%M") %>〜<%= schedule.end_time.strftime("%H:%M") %>
        <% end %>
      <% else %>
        <td></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
  </tbody>
</table>
<!-- 詳細モーダルの表示先 -->
<div id="schedule-detail-modal" style="display: none;"></div>
