<%= form_with(model: client) do |form| %>
  <% if @client.errors.any? %>
  <div class="error-messages">
    <div style="color: red;">
      <h2>以下の入力に誤りがあります：</h2>
      <ul>
        <% @client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

 <div>
    <%= form.label :name do %>
      名前 <span style="color: red;">*</span>
    <% end %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address do %>
      住所 <span style="color: red;">*</span>
    <% end %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :insurance do %>
      保険の種類 <span style="color: red;">*</span>
    <% end %><br>

    <%= check_box_tag 'client[insurance][]', '介護', client.insurance.include?('介護'), id: 'client_insurance_kaigo' %>
    <%= label_tag 'client_insurance_kaigo', '介護' %><br>

    <%= check_box_tag 'client[insurance][]', '医療', client.insurance.include?('医療'), id: 'client_insurance_iryo' %>
    <%= label_tag 'client_insurance_iryo', '医療' %>
  </div>

  <div>
    <%= form.label :addition, "加算情報", style: "display: block" %>
    <%= form.text_field :addition %>
  </div>

  <div>
    <%= form.label :memo, "メモ", style: "display: block" %>
    <%= form.text_field :memo %>
  </div>

  <div>
    <%= form.submit "登録する" %>
  </div>
<% end %>