<h1>患者情報の登録</h1>

<%= form_with(model: @client, html: { class: "client-form" }) do |form| %>
  <% if @client.errors.any? %>
    <div class="error-messages">
      <h2>以下の入力に誤りがあります：</h2>
      <ul>
        <% @client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name do %>名前 <span style="color: red;">*</span><% end %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address do %>住所 <span style="color: red;">*</span><% end %>
    <%= form.text_field :address %>
  </div>

  <div class="form-group">
  <%= form.label :insurance do %>
    保険の種類 <span style="color: red;">*</span>
  <% end %><br>

  <div class="checkbox-group">
  <label>
    <%= check_box_tag 'client[insurance][]', '介護', form.object.insurance.include?('介護'), id: 'client_insurance_kaigo' %>
    介護
  </label>
  <label>
    <%= check_box_tag 'client[insurance][]', '医療', form.object.insurance.include?('医療'), id: 'client_insurance_iryo' %>
    医療
  </label>
 </div>
</div>

  <div>
    <%= form.label :addition, "加算情報" %>
    <%= form.text_field :addition %>
  </div>

  <div>
    <%= form.label :memo, "メモ" %>
    <%= form.text_field :memo %>
  </div>

  <div>
    <%= form.submit "登録する" %>
  </div>

<% end %>

  <div>
    <%= link_to "患者一覧に戻る", clients_path, class: "form-submit-btn" %>
  </div>
