<h1 class="client-name">患者詳細</h1>

<div class="client-detail-card">
  <div class="client-info">
  <p><strong>名前:</strong> <%= @client.name %></p>
  <p><strong>住所:</strong> <%= @client.address %></p>
  <p><strong>保険の種類:</strong> <%= @client.insurance.join(" / ") %></p>
  <p><strong>加算情報:</strong> <%= @client.addition %></p>
  <p><strong>メモ:</strong> <%= @client.memo %></p>
  </div>

    <div class="staff-actions">
    <%= link_to "編集", edit_client_path(@client), class: "edit-link" %>
    <%= link_to "削除", client_path(@client), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "delete-link" %>
   </div>
  </div>