<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
    <style>
      nav {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .logout-link {
        margin-left: auto;
      }
    </style>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "ホーム", root_path, class: "header-link" %>
        <%= link_to "患者一覧", clients_path, class: "header-link" %>
        <%= link_to "スタッフ一覧", users_path, class: "header-link" %>

        <%# if account_signed_in? %>
          <%# <%= link_to "ログアウト", destroy_account_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "logout-link" %>
        <%# else %> 
          <%#= link_to "ログイン", new_account_session_path, class: "logout-button" %>
        <%# end %> 
      </nav>
    </header>

    <div class="container">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>